<div class="content" [hidden]="loading">
  <app-multiplayer-status
    [player]="player"
    [opponent]="opponent"
    [turnId]="turnId"
  ></app-multiplayer-status>

  <app-board
    [width]="boardData.width"
    [height]="boardData.height"
    [rows]="boardData.rows"
    [columns]="boardData.columns"
    (swap)="onSwap($event)"
  >
    <ng-container #container></ng-container>
  </app-board>

  <!-- <app&#45;power&#45;ups></app&#45;power&#45;ups> -->
</div>

<div *ngIf="winnerText" class="winner-container">
  <div class="content">
    <div class="text">{{ winnerText }}</div>
    <button class="btn" routerLink="/lobby">Ok</button>
  </div>
</div>

<div *ngIf="loading" class="loader-container">Loading...</div>

<app-play-background></app-play-background>
