:host {
  padding: 3px;
  position: absolute;

  user-select: none;

  cursor: pointer;

  .content {
    .sprite {
      z-index: 20;
      z-index: 2;
      position: absolute;
      left: 10%;
      top: 15%;
      width: 80%;
    }

    .glow {
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 1;
    }

    // .ground {
    // z-index: 1;
    // background: rgba(0,0,0,0.3);
    // display: block;
    // position: absolute;
    // left: 10%;
    // top: 40%;
    // width: 80%;
    // height: 50%;
    // border-radius: 50%;
    // }
    // background-color: #000;
    // border-radius: 50%;
  }
}
