:host {
  padding: 3px;
  position: absolute;

  .content {
    height: 90%;
    width: 90%;
    border-radius: 20%;
    margin: 5% 0 0 5%;

    box-shadow: 3px 3px rgba(0,0,0, 0.5);

    &:after {
      content: "";
      position: absolute;
      height: 70%;
      width: 70%;
      top: 15%;
      left: 15%;
      border-radius: 30%;
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
