<div class="content">
  <app-level-status
    [target]="levelData.target"
    [moves]="levelData.moves"
    [score]="levelData.score"
  ></app-level-status>

  <app-board
    [width]="boardData.width"
    [height]="boardData.height"
    [rows]="boardData.rows"
    [columns]="boardData.columns"
    (swap)="onSwap($event)"
    (select)="onSelect($event)"
  >
    <ng-container #container></ng-container>
  </app-board>

  <app-power-ups></app-power-ups>
</div>

<app-play-background></app-play-background>
