<app-level-status
  [target]="levelData.target"
  [moves]="levelData.moves"
  [score]="levelData.score"
></app-level-status>

<app-board
  [width]="boardConfig.width"
  [height]="boardConfig.height"
  [rows]="boardConfig.rows"
  [columns]="boardConfig.columns"
  (swap)="onSwap($event)"
>
  <ng-container #container></ng-container>
</app-board>

<div class="actions">
  <div class="item">
    <span>5</span>
    <img src="assets/items-effects/Vertical_arrow.png" />
  </div>
  <div class="item">
    <span>5</span>
    <img src="assets/items-effects/Horizontal_arrow.png" />
  </div>
  <div class="item">
    <span>5</span>
    <img src="assets/items-effects/Star.png" />
  </div>
  <div class="item">
    <span>5</span>
    <img src="assets/items-effects/Ax.png" />
  </div>
</div>
