:host {
  display: block;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

.content {
  font-family: "Titan One", cursive;
  // font-family: "PT Mono", monospace;

  position: absolute;
  display: flex;
  height: 50px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  color: white;
  z-index: 100;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ddd;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: rgba(255, 255, 255, 0.1);
  }
}

.box {
  margin-top: 5px;
  width: 100px;
  height: 70px;
  position: relative;
  fa-icon {
    font-size: 25px;
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.4);
  }
}

.moves {
  font-size: 35px;
}

.score {
  font-size: 25px;
}

.target {
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  height: 70px;

  .target-item {
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative;

    .remain {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0 5px;
    }

    .type {
      flex: 1;
      max-height: 40px;
    }
  }
}
