<div class="content">
  <div class="moves box">
    <fa-icon [icon]="icons.moves"></fa-icon>
    <span [@valueAnimation]="moves">{{ moves }}</span>
  </div>

  <div class="target">
    <div class="target-item" *ngFor="let item of target"  [@targetAnimation]="item.remain">
      <img class="type" [src]="getSprite(item.type)" />
      <div class="remain">
        <span *ngIf="item.remain > 0">x{{ item.remain }}</span>
        <span *ngIf="item.remain <= 0">
          <fa-icon [icon]="icons.check"></fa-icon>
        </span>
      </div>
    </div>
  </div>

  <div class="score box">
    <fa-icon [icon]="icons.star"></fa-icon>
    <span [@valueAnimation]="score">{{ score }}</span>
  </div>
</div>
