<div class="content">
  <div class="moves">
    <fa-icon [icon]="icons.moves"></fa-icon>
    <span [@valueAnimation]="moves">{{ moves }}</span>
  </div>

  <div class="score">
    <fa-icon [icon]="icons.star"></fa-icon>
    <span [@valueAnimation]="score">{{ score }}</span>
  </div>

  <div style="flex: 1;"></div>

  <div class="target">
    <div class="target-item" *ngFor="let item of target">
      <div class="type" [style.background]="item.type"></div>
      <div class="remain" [@valueAnimation]="item.remain">
        <span *ngIf="item.remain > 0">x{{ item.remain }}</span>
        <span *ngIf="item.remain <= 0">
          <fa-icon [icon]="icons.check"></fa-icon>
        </span>
      </div>
    </div>
  </div>
</div>
