:host {
  display: block;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.content {
  font-family: 'Titan One', cursive;
  // font-family: "PT Mono", monospace;

  position: absolute;
  display: flex;
  height: 50px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  color: white;
  background: #111;
  z-index: 100;


  > * {
    display: flex;
    align-items: center;
    justify-content: center;

    fa-icon {
      margin-right: 5px;
    }
  }
}

.moves {
  width: 80px;
  font-size: 25px;
}

.score {
  width: 80px;
  font-size: 25px;
}

.target {
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: space-around;

  .target-item {
    &:not(:last-child) {
      margin-right: 15px;
    }
    .type {
      width: 20px;
      height: 20px;
      border-radius: 5px;
    }
    .remain {
      padding-left: 5px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

