<div class="content" *ngIf="data">
  <div class="player box">
    <div class="nick align-left">{{ data.player.displayName }}</div>
    <div class="life align-left">{{ data.player.life }}</div>
    <div class="turn" [class.turn--show]="data.turn === 'player'">your turn</div>
  </div>

  <div class="opponent box">
    <div class="nick align-right">{{ data.opponent.displayName }}</div>
    <div class="life align-right">{{ data.opponent.life }}</div>
    <div class="turn" [class.turn--show]="data.turn === 'opponent'">opponent's turn</div>
  </div>
</div>
