* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #12273b;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  // this causes scrolling left at the left-end of the page
  // to no longer trigger a backward history-navigation.
  overscroll-behavior: contain;
}

img {
  pointer-events: none;
  -webkit-touch-callout: none;
}

[hidden] {
  display: none !important;
}
