:host {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
  height: 100%;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  margin: auto;
  margin-top: 155px;
  padding: 20px 10px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.95);
  border: 1px solid #ccc;
  text-align: center;
}

.current {
  font-family: "Titan One", cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 30px;
  margin-bottom: 10px;
}

.info {
  width: 100%;
  font-size: 20px;
  font-family: "PT Mono", monospace;

  .item {
    display: flex;
    justify-content: space-between;
  }
}

.actions {
  margin-top: 10px;
  width: 100%;
  > * {
    margin: 0 15px;
  }
}

.btn {
  padding: 5px 10px;
  background: #111;
  color: #fff;
  border: 1px solid #333;

  &:hover {
    cursor: pointer;
    background: #222;
    border: 1px solid #666;
  }

  &-icon {
    font-size: 30px;
  }
}
